<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, max_length: 128 %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, max_length: 128 %>
  </div>
  <div class="field">
    <%= f.label :tel %><br>
    <%= f.telephone_field :tel, max_length: 16 %>
  </div>
  <div class="field">
    <%= f.label :blood_type %><br>
    <%= f.collection_select :blood_type_id, BloodType.all, :id, :name, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
