<h1>Listing users</h1>

<%= search_form_for @search do |f| %>
  <%= f.label :name_cont %>
  <%= f.text_field :name_cont %>
  <br />
  <%= f.label :email_cont %>
  <%= f.text_field :email_cont %>
  <br />

  <%= f.label :tel_cont %>
  <%= f.text_field :tel_cont %>
  <br />

  <%= f.label :blood_type_id_in %>
  <% BloodType.all.each do |blood_type| %>
    <label>
      <%= f.check_box :blood_type_id_in, {name: 'q[blood_type_id_in][]'}, blood_type.id, nil %>
      <%= blood_type.name %>
    </label>
  <% end %>
  <br />

  <%= f.submit 'Search' %>
  <%= link_to 'Cansel', users_path %>
<% end %>
<br />

<% if @users.count == 0 %>
  <pre>表示できるユーザーはいません。</pre>
<% else %>
  <table>
    <thead>
      <tr>
        <th><%= sort_link @search, :name, 'Name' %></th>
        <th><%= sort_link @search, :email, 'Email' %></th>
        <th><%= sort_link @search, :tel, 'Tel' %></th>
        <th><%= sort_link @search, :blood_type_name, 'Blood type' %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.tel %></td>
          <td><%= user.blood_type.name %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<br>

<%= link_to 'New User', new_user_path %>
